.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 1000;
}
.divider {
  height: 1px;
  width: 1.5rem;
  background-color: white;
  transition: all 0.25s;
}
.text {
  cursor: pointer;
  font-size: 0.7rem;
  color: white;
  padding: 5px 0;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: left;
  width: 100%;
  transition: all 0.2s;
}
.active + .divider {
  width: 2.5rem;
}
.active {
  color: rgb(252, 83, 83);
}
@media only screen and (max-width: 576px) {
  .main {
    display: none;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .main {
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main {
    display: flex;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .main {
    display: flex;
  }
}

@media only screen and (min-width: 1441px) {
  .main {
    display: flex;
  }
}
