.main {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.logo_wrapper {
  width: 100%;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 0;
  transition: all 0.5s;
  color: white;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 10000000000000;
}
.title_text {
  width: 100%;
  height: fit-content;
  font-size: 1rem;
}
.logo_height_small {
  top: 1.2rem;
  width: 20%;
  left: 20%;
}
.logo_height_big {
  width: 80% !important;
  top: 2.5rem;
  width: 100%;
}
.float_btn_wrapper {
  right: 10%;
  top: 50%;
  position: fixed;
  width: fit-content;
  height: 100%;
  transition: all 0.25s;
  z-index: 999;
}
.float_button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  right: 10%;
  opacity: 0;
}
.gear {
  animation: float_btn_show 0.5s 0s forwards;
}
.contact {
  animation: float_btn_show 0.5s 0.25s forwards;
}
.float_btn_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.column_text {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  z-index: 999999;
}

@keyframes float_btn_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 576px) {
  .float_button {
    width: 35px;
    height: 35px;
  }
  .column_text {
    display: none;
  }
  .logo_height_small {
    top: 0.5rem;
    width: 30%;
    left: 20%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .float_button {
    width: 35px;
    height: 35px;
  }
  .column_text {
    display: none;
  }
  .logo_height_small {
    top: 0.5rem;
    width: 30%;
    left: 20%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .float_button {
    width: 35px;
    height: 35px;
  }
  .logo_height_small {
    top: 0.5rem;
    width: 30%;
    left: 20%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1441px) {
}
