.main {
  border: 1px solid white;
  border-radius: 50px;
  background-color: transparent;
  outline: none;
  color: white;
  width: fit-content;
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow_icon {
  width: 15px !important;
  height: 15px !important;
  padding: 0 !important;
  margin: 0 !important;
}
.btn_text {
  font-size: 0.6rem;
}
@media only screen and (max-width: 576px) {
  .arrow_icon {
    width: 12px !important;
    height: 12px !important;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .arrow_icon {
    width: 12px !important;
    height: 12px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1441px) {
}
