@import url(../style/variables.css);

.main {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-b);
  margin-top: 2.2rem;
}
.svg_wrapper {
  width: 6rem;
  margin-bottom: 0.25rem;
}
.text_wrapper {
  width: 50%;
  direction: rtl;
}
.text {
  color: #c3c3c3;
  font-size: 1rem;
  text-align: justify;
}
.text_wrapper::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 576px) {
  .svg_wrapper {
    display: none;
  }
  .text_wrapper {
    width: 70%;
    height: 60vh;
    overflow-y: scroll;
  }
  .content_wrapper {
    box-sizing: content-box;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .svg_wrapper {
    display: none;
  }
  .text_wrapper {
    width: 60%;
    height: 60vh;
    overflow-y: scroll;
  }
  .content_wrapper {
    box-sizing: content-box;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .svg_wrapper {
    display: none;
  }
  .text_wrapper {
    width: 60%;
    height: 60vh;
    overflow-y: scroll;
  }
  .content_wrapper {
    box-sizing: content-box;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .text_wrapper {
    width: 55%;
    height: 70vh;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 1441px) {
  .text_wrapper {
    width: 55%;
    height: 55vh;
    overflow-y: scroll;
  }
}
