@import url(../style/variables.css);
.main {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.dived_bot {
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 3rem 0 3rem;
  justify-content: space-evenly;
  max-width: 2000px;
  margin: 0 auto;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.earth {
  width: 15%;
  height: 100%;
}
.text_wrapper {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  color: white;
  font-size: 0.5rem;
  padding: 10px 0.8rem;
}
.shape {
  width: 15%;
  height: 100%;
}
.enjoy {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.e_text {
  font-size: 0.5rem;
  width: 300px;
  text-align: right;
  color: white;
}
.all_tvs {
}
@media only screen and (max-width: 576px) {
  .dived_bot {
    padding: 0;
  }
  .text {
    font-size: 0.5rem;
  }
  .e_text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .dived_bot {
    padding: 0;
  }
  .text {
    font-size: 0.5rem;
  }
  .e_text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .dived_bot {
    padding: 0 1rem 0 1rem;
  }
  .text {
    font-size: 0.5rem;
  }
  .e_text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .text {
    font-size: 0.7rem;
  }
  .e_text {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1441px) {
  .text {
    font-size: 0.7rem;
  }
  .e_text {
    font-size: 1.3rem;
  }
}
