@import url(../style/variables.css);

.main {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-b);
  transform: translateY(-1.5rem);
}
.svg_wrapper {
  width: 6rem;
  margin-bottom: 1rem;
}
.text_wrapper {
  width: 50%;
  direction: rtl;
  text-align: justify;
}
.text {
  color: white;
  font-size: 1rem;
}
.all_tvs{
  position: fixed;
  bottom: 5%;
  left: 10%;
}
@media only screen and (max-width: 576px) {
  .text_wrapper {
    width: 80%;
  }
  .content_wrapper {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .text_wrapper {
    width: 80%;
  }
  .content_wrapper {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .text_wrapper {
    width: 80%;
  }
  .content_wrapper {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1441px) {
}
