.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'pelak',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main svg{
    margin-bottom: 20px;
}