.App {
  max-width: 2000px;
}
.main {
  height: 500vh;
  width: 100vw;
}


@media only screen and (min-width: 577px) and (max-width: 768px) {
  * {
    font-size: calc(16px * (18 / 16));
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: calc(16px * (19 / 16));
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  * {
    font-size: calc(16px * (20 / 16));
  }
}

@media only screen and (min-width: 1441px) {
  * {
    font-size: calc(16px * (21 / 16));
  }
}

/* @media only screen and (max-width: 576px) {
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1441px) {
} */
