@font-face {
  font-family: pelak;
  src: url(./assets/fonts/PelakFA-Medium.woff);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: pelak;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
