@import url(../style/variables.css);

.header {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
}
.logo_container {
  width: 25%;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 20px;
  padding-top: 2.3rem;
  padding-right: 40px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
}
.header_btn {
  cursor: pointer;
  background-color: transparent !important;
  color: white !important;
  outline: none;
  border: 2px solid transparent !important;
  border-radius: 5px !important;
  padding: 5px !important;
  margin: 5px !important;
  font-family: pelak !important;
  font-size: 15px !important;
}
.header_btn:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.391) !important;
}
.locale_btn {
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid white !important;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  font-size: x-small;
}
.drawer {
  background-color: white;
}
.drawer_backdrop {
  background-color: red !important;
}
.hamburger_menu {
  background-color: transparent !important;
}
.menu_icon {
  transition: all 0.25s !important;
}
.menu_icon:hover {
  transform: scaleY(1.25);
}
