@import url(../style/variables.css);

.header {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
}
.logo_container {
  width: 25%;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 20px;
  padding-top: 2.3rem;
  padding-right: 40px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
}
.header_btn {
  cursor: pointer;
  background-color: transparent !important;
  color: white !important;
  outline: none;
  border: 2px solid transparent !important;
  border-radius: 5px !important;
  padding: 5px !important;
  margin: 5px !important;
  font-family: pelak !important;
  font-size: 1rem !important;
  position: relative !important;
  min-width: 5rem !important;
}
.header_btn:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.391) !important;
}
.locale_btn {
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid white !important;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  font-size: 0.7rem;
  transition: all 0.25s;
}
.locale_btn:hover {
  background-color: rgba(245, 245, 245, 0.395);
}
.drawer {
  background-color: white;
}
.drawer_backdrop {
}
.hamburger_menu {
  background-color: transparent !important;
}
.menu_icon {
  transition: all 0.25s !important;
}
.menu_icon:hover {
  transform: scaleY(1.25);
}
.sublinks_wrapper {
  width: 200%;
  height: fit-content;
  position: absolute;
  top: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.25s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  backdrop-filter: blur(20px);
}
.header_btn:hover > .sublinks_wrapper {
  transform: scaleY(1);
}
.sublink {
  padding: 5px 0;
  font-size: 0.8rem;
  width: 100%;
  color: white;
  transition: all 0.25s;
}
.sublink:hover {
  font-size: 0.8rem;
  background-color: rgb(201, 201, 201);
}
@media only screen and (max-width: 576px) {
  .locale_btn {
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
  }
  .header {
    height: 3rem;
  }
  .wrapper {
    margin-right: 2rem;
  }
  .header_btn {
    display: none !important;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .locale_btn {
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
  }
  .header {
    height: 3rem;
  }
  .wrapper {
    margin-right: 2rem;
  }
  .header_btn {
    display: none !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .locale_btn {
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
  }
  .header {
    height: 3rem;
  }
  .wrapper {
    margin-right: 2rem;
  }
  .header_btn {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
}
@media only screen and (min-width: 1441px) and (max-width: 2000px) {
}

@media only screen and (min-width: 2001px) {
  .header {
    max-width: 2000px;
    right: 50%;
    transform: translateX(50%);
  }
}
